<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429908399503-nr1dvuph664ruerlbe4tq2l20j27jg8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429908399503-nr1dvuph664ruerlbe4tq2l20j27jg8l</string>
	<key>API_KEY</key>
	<string>AIzaSyCCpjEvsr2qJdNRn8l-aBo9M2Esp9ONWjg</string>
	<key>GCM_SENDER_ID</key>
	<string>429908399503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tistory.iospanda.TookTook</string>
	<key>PROJECT_ID</key>
	<string>tooktook-f4904</string>
	<key>STORAGE_BUCKET</key>
	<string>tooktook-f4904.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429908399503:ios:babc5ee9219b34749a67fa</string>
	<key>DATABASE_URL</key>
	<string>https://tooktook-f4904.firebaseio.com</string>
</dict>
</plist>